<div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center">
    <div class="row">
        <div class="col-lg-6 col-md-12 green text-light p-4 turquesa-oscuro d-none d-lg-block rounded-start-4">
            <div class="mx-3">
            <div class="d-flex align-items-center">
                <div class="icon"></div>
                <h4 class="m-2">VETERINARIA</h4>    
            </div>
            <div class="center-welcome">
                <h2 class="alata" >Bienvenido,</h2>
                <p class="alata">inicie sesión para acceder a la página.</p>
            </div>
            <div class="row d-flex justify-content-center">
                <p class="col-9 border-bottom" style="height: 0.9rem;"></p>
                <p class="col-1">2024©</p>
            </div>
            </div>
        </div>
        <div class="col bg-white p-5 rounded-4">
            <h2 class="alata fs-1 my-4">Inicia Sesión</h2>
            <input type="email" class="input form-control" name="email" placeholder="Correo electrónico" formControlName="email">
            <input type="password" class="input form-control" name="password" placeholder="Contraseña" formControlName="password">
            <div class="my-3 d-flex flex-column flex-md-row justify-content-end align-items-center">
            <a href="" class=" text-warning text-decoration-none ">¿Olvidaste tu contraseña?</a>
            </div>
            <div class="d-grid">
            <button type="submit" class="btn-naranja border border-none shadow-sm">INICIAR SESIÓN</button>
            </div>
            <div class="mt-4 border-bottom text-center text-secondary" style="height: 0.9rem;">
            <span class="bg-white px-3">ó</span>
            </div>
            <div class="border-circle mt-4 p-2 btn d-flex gap-2 justify-content-center border shadow-sm">
            <i class="bi bi-google"></i>
            <div class="text-secondary">Iniciar sesión con Google</div>
            </div>
            <div class="mt-4 d-flex justify-content-center">
            <span>¿No tienes una cuenta? <a href="http://localhost:4200/auth/register" class="text-warning text-decoration-none">Regístrate gratis</a> </span>
            </div>
        </div>
    </div>
</div>
  