<div class="card h-100 clickable-card" (click)="onCardClick()">
      
  <div class="card-body d-flex flex-column">
    <!-- Título -->
    <h5 *ngIf="titulo"  class="card-title">{{ etiquetaTitulo }}: {{ titulo }}</h5>
    <!-- Subtítulo 1 -->
    <h6 *ngIf="subtitulo1" class="card-subtitle mb-2 text-muted">{{ etiquetaSubtitulo1 }}: {{ subtitulo1 }}</h6>
    <!-- Subtítulo 2 -->
    <h6 *ngIf="subtitulo2" class="card-subtitle mb-1 text-muted">{{ etiquetaSubtitulo2 }}: {{ subtitulo2 }}</h6>
    <!-- Slot para contenido libre -->
    <div class="flex-grow-1">
      <ng-content></ng-content>
    </div>
  </div>
</div>

