<div class="container py-4">

  <!-- 1. Fila del buscador -->
  <div class="row mb-4">
    <div class="col-12 col-md-6">
      <app-searcher
        [(term)]="searchTerm"
        placeholder="Buscar por curso"
        
        field="title"
        
        (search)="onSearch()"
      ></app-searcher>
    </div>
  </div>

  <!-- 2. Fila de las cards -->
      
  <div class="row g-4">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let g of filteredGrades">
              <app-card-courses class="h-100"
          [etiquetaTitulo]="'GRADO'"
          [titulo]="g.grado "
          [etiquetaSubtitulo1]="'NIVEL'"
          [subtitulo1]=" g.nivel"
          [etiquetaSubtitulo2]="'SEDE'"
          [subtitulo2]=" g.sede"
          [link]="['#']">
          <!-- '/student/panel/courses', course.id_curso, 'curriculum' -->
          <!-- el link tenemos que cambiarlo, lo mejor seria crear un curriculum para profesor -->

        </app-card-courses>

    </div>
  </div>


</div>