


<ng-container *ngIf="course; else cargando">
  <h2 class="section-title mb-3">{{ course.title }}</h2>

  <!---barra de semestres-->
    <nav class="mb-4">
    <ul class="nav nav-pills justify-content-between">
        <li class="nav-item">
        <a class="nav-link active" href="#">1er Bimestre</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">2do Bimestre</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">3er Bimestre</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">4to Bimestre</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Bimestre Final</a>
        </li>
    </ul>
    </nav>
  
    <!---columna izquierda-->
    <div class="col-12 col-md-6 text-center">
    
        <div class="card p-4 mb-4">
            <h5 class="mb-3">Informacion del semestre</h5>
                <div class="table-responsive">
                    
                    <table class="table table-rounded">
                        <thead class="table-success ">
                            <tr>
                            <th scope="col">NRO</th>
                            <th scope="col">Concepto</th>
                            <th scope="col">Nota</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider rounded-end">
                            <tr *ngFor="let item of registryItems; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ item.concepto }}</td>
                            <td>{{ item.valor }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>




</ng-container>

<ng-template #cargando>
  <div class="text-center py-4">
    <div class="spinner-border" role="status"></div>
  </div>
</ng-template>