.btn-custom-green-100 {
    width: 100%;
    background-color: #008C62;
    border: none;
    border-radius: 7px;
    padding: 9px;
    color: #fff;
    font-weight: 600;
}
.btn-custom-green-100:hover {
    transition: 0.5s;
    border: none;
    background-color: #03704f;
    color: #ffffff;
}
.btn-custom-green-100:disabled {
    background-color: #09ac7b;
    border: none;
    color: #fff;
}