<app-panel-header title="Cursos asignados" />

<div class="container py-4">



  <!-- 2. Fila de las cards -->
      
    <div class="row g-4">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3" >
        
          <app-card-courses class="h-100"
            [etiquetaTitulo]="'CURSO'"
            [titulo]="co.course.name"
            [etiquetaSubtitulo1]="'GRADO'"
            [subtitulo1]="co.classroom.grade.name + ' de ' + co.classroom.grade.level.name" 
            [etiquetaSubtitulo2]="'AULA'"
            [subtitulo2]="co.classroom.name"
            [tags]="co.tags"
            [students]="co.students"
            > 
            </app-card-courses>
      </div>
    </div>
</div>
