<app-panel-header title="Cursos asignados" />

<div class="container py-4">

  <!-- 1. Fila del buscador -->
  <div class="row mb-4">
    <div class="col-12 col-md-6">
      <app-searcher
        [(term)]="searchTerm"
        placeholder="Buscar por curso"
        [items]="courses"
        field="course.name"
        (filtered)="filteredCourses = $event"
        (search)="onSearch()"
      ></app-searcher>
    </div>
  </div>

  <!-- 2. Fila de las cards -->
      
    <div class="row g-4">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let co of filteredCourses">
        
          <app-card-courses class="h-100"
            [etiquetaTitulo]="'CURSO'"
            [titulo]="co.course.name"
            [etiquetaSubtitulo1]="'GRADO'"
            [subtitulo1]="co.classroom.grade.name + ' de ' + co.classroom.grade.level.name" 
            [etiquetaSubtitulo2]="'AULA'"
            [subtitulo2]="co.classroom.name"
            [link]="['/teacher/panel/coursesAsigned', co.id, 'curriculumManagment']"> 
            
            
            <!-- el link tenemos que cambiarlo, lo mejor seria crear un curriculum para profesor 
             [link]="['/teacher/panel/curriculumManagment', course.id_curso, 'curriculum']">-->

            </app-card-courses>
      </div>
    </div>
</div>
