<app-panel-header title="Mensualidades" />

<div class="card p-4 shadow-sm">
  <div class="row g-3">
    <!-- Columna izquierda -->
    <div class="col-12 col-md-6">
      
      <!-- Detalle de la cuenta -->
      <div class="card p-4 mb-4 ">
        <h3 class="card-title border-bottom pb-2 mb-3">Detalle de la cuenta</h3>
            <h6>{{ fullName }}</h6>
            <p class="text-muted">{{ documentAndId }}</p>
            <p class="text-muted">{{ classroomInfo }}</p>
            <p class="text-muted">{{ campusName }}</p>
      </div>

      <!-- Siguiente pago -->
        <div class="card p-4 mb-4 ">
        <h3 class="card-title border-bottom pb-2 mb-3">Siguiente pago</h3>

        <button 
          *ngIf="nextPayment; else noPending" 
          class="btn btn-outline-success w-100 text-start py-3 mb-3"
          type="button">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <div class="d-flex align-items-center">
              <i class="fa-solid fa-circle-exclamation me-2 text-warning"></i>
              <span class="fw-semibold">
                {{ nextPayment.paymentType.name | titlecase }}
              </span>
            </div>
            <small class="text-muted">
              Vencimiento: {{ nextPayment.datePayment | date:'dd/MM/yyyy' }}
            </small>
          </div>
          <div class="text-center">
            <span class="fs-1 fw-bold">
              {{ nextPayment.amountPaid | currency:'USD':'symbol':'1.0-0' }}
            </span>
          </div>
        </button>

        <ng-template #noPending>
          <p class="text-center text-muted mb-0">
            ¡No hay pagos pendientes!
          </p>
        </ng-template>
        </div>


        <!-- Advertencia -->
        <div class="card p-4 mb-4 ">
            <h3 class="card-title border-bottom pb-2 mb-3">Advertencia</h3>
            <div class="d-flex">
            <i class="fa-solid fa-circle-exclamation me-3 fs-2 text-danger"></i>
            <p class="mb-0 fs-6">
                Recuerda que si pagas <strong>antes</strong> de la fecha estipulada tienes un descuento; 
                si pagas el día límite es el precio acordado; si pagas <strong>después</strong>, se aplica mora progresiva.
            </p>
            </div>
        </div>

    </div><!-- /Columna izquierda -->

    <!-- Columna derecha -->
    <div class="col-12 col-md-6 text-center">
    <h5 class="mb-3">Cronograma de pagos</h5>
        <div class="card p-4 mb-4">
            <div class="table-responsive mb-4">
            <table class="table mb-0 table-rounded">
                <thead class="table table-success">
                <tr>
                    <th>Vencimiento</th>
                    <th>Concepto</th>
                    <th>Acción</th>
                    <th class="text-end">Monto</th>
                </tr>
                </thead>
                <tbody class="text-center">
                <tr *ngFor="let p of payments">
                    <td>{{ p.datePayment | date:'dd/MM/yyyy' }}</td>
                    <td>{{ p.paymentType.name }}</td>
                    <td>
                    <span
                    [ngClass]="{
                        'text-danger':    p.state === 'atrasado',
                        'text-secondary': p.state === 'pendiente',
                        'text-success':   p.state === 'pagado'
                    }"
                    class="fw-semibold"
                    >
                    {{ p.state === 'pagado'    ? 'Pagado'
                        : p.state === 'atrasado'  ? 'Atrasado'
                        : 'Pendiente' }}
                    </span>
                    </td>
                    <td >
                    {{ p.amountPaid | currency:'USD':'symbol':'1.0-0' }}
                    </td>
                </tr>
                </tbody>
            </table>
            </div>


        </div>
    </div>


  </div><!-- /row -->
</div><!-- /card -->
