<div class="card p-4 shadow-sm">
  <div class="row g-3">
    <!-- Columna izquierda -->
    <div class="col-12 col-md-6">
      
      <!-- Detalle de la cuenta -->
      <div class="card p-4 mb-4">
        <h3 class="card-title border-bottom pb-2 mb-3">Detalle de la cuenta</h3>
        <h6>Nombre del usuario</h6>
        <p class="text-muted">Número de documento | ID del usuario</p>
        <p class="text-muted">Grado | Año</p>
        <p class="text-muted">Sede de la institución</p>
      </div>

      <!-- Siguiente pago -->
        <div class="card p-4 mb-4">
            <h3 class="card-title border-bottom pb-2 mb-3">Siguiente pago</h3>
            
            <!-- Cuota -->
            <button 
                class="cuota-box btn p-3 mb-4 text-start" 
                type="button"
                style="width: 100%; max-width: 20rem;">
                <div class="d-flex justify-content-between align-items-center mb-2">
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-circle-exclamation me-2"></i>
                    <span class="fw-semibold">Cuota 1</span>
                </div>
                <small class="text-muted">Vencimiento: 15/07/2025</small>
                </div>
                <div class="text-center">
                <span class="fs-1 fw-bold">$ 400</span>
                </div>
            </button>

      </div><!-- /Siguiente pago -->


        <!-- Advertencia -->
        <div class="card p-4 mb-4">
            <h3 class="card-title border-bottom pb-2 mb-3">Advertencia</h3>
            <div class="advertencia-box p-3 mb-4 col-12 col-md-8">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <div class="d-flex align-items-center">
                    <i class="fa-solid fa-circle-exclamation me-2"></i>
                    <p class="mb-0 fs-5">Recuerda que si pagas antes de la fecha estipuladatienes un descuento del precio normal, 
                        si pagas el dia limite el precio es el acordado y si pagas despues del dialimite se te aplica una mora 
                        progresiva
                    </p>
                    </div>
                </div>
            </div>
        </div><!-- /advertencia -->

    </div><!-- /Columna izquierda -->

    <!-- Columna derecha -->
    <div class="col-12 col-md-6 text-center">
    <h5 class="mb-3">Cronograma de pagos</h5>
        <div class="card p-4 mb-4">
            <div class="table-responsive">
            <table class="table mb-0">
                <thead class="table table-success">
                    <tr>
                        <th>Vencimiento</th>
                        <th>Concepto</th>
                        <th>Acción</th>
                        <th class="text-end">Monto</th>
                    </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of schedule">
                    <td>{{ item.vencimiento | date:'dd/MM/yyyy' }}</td>
                    <td>{{ item.concepto }}</td>
                    <td>
                    <span
                        [ngClass]="{
                        'text-danger': item.accion === 'Pagar',
                        'text-success': item.accion === 'Pagado'
                        }"
                        style="font-weight: 600;"
                    >
                        {{ item.accion }}
                    </span>
                    </td>
                    <td class="text-end">
                    {{ item.monto | currency:'USD':'symbol':'1.0-0' }}
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>


  </div><!-- /row -->
</div><!-- /card -->
