<!--SOLO TABLA-->
<div class="table-responsive">
  @defer {
    <table class="table align-middle mb-0">
      <thead>
        <tr>
          @for (column of columns; track $index) {
            <th>{{ column }}</th>
          }
          <th class="text-center">ACCIONES</th>
        </tr>
      </thead>
      <tbody>
        @for (row of rows; track $index) {
          <tr>
            @for (column of columns; track $index) {
              <td>
                @if (column === 'Estado Inscripción') {
                  <span [class]="getStateClass(row[columnMappings[column]])">
                    {{ row[columnMappings[column]] }}
                  </span>
                } @else {
                  {{ row[columnMappings[column]] }}
                }
              </td>
            }
            <td class="text-center">
              <div class="d-flex justify-content-center gap-2">
                <!-- Botón Ver (siempre visible) -->
                 @if (verFila) {
                  <button 
                    type="button"
                    class="btn btn-outline-secondary btn-sm"
                    (click)="accionVerInscripcion(row)"
                    title="Ver detalles">
                    <i class="fas fa-eye"></i>
                    Ver
                  </button>
                 }
                <!-- Botón condicional según el estado -->
                @if (getActionButtonForState(row[columnMappings['Estado Inscripción']]) !== null) {
                  @let actionButton = getActionButtonForState(row[columnMappings['Estado Inscripción']]);
                  <button 
                    type="button"
                    [class]="'btn btn-sm ' + actionButton!.class"
                    (click)="executeAction(actionButton!.action, row)"
                    [title]="actionButton!.text">
                    @switch (actionButton!.action) {
                      @case ('enviarEvaluacion') {
                        <i class="fas fa-paper-plane me-1"></i>
                      }
                      @case ('anularEvaluacion') {
                        <i class="fas fa-ban me-1"></i>
                      }
                      @case ('continuarMatricula') {
                        <i class="fas fa-arrow-right me-1"></i>
                      }
                      @case ('restaurarInscripcion') {
                        <i class="fa-solid fa-rotate-left"></i>
                      }
                      @case ('marcarPago') {
                        <i class="fas fa-check-circle me-1"></i>
                      }
                      @case ('registrarEvaluacion') {
                        <i class="fa-solid fa-plus me-1"></i>                      }
                    }
                    {{ actionButton!.text }}
                  </button>
                }
                <!-- Botón eliminar (opcional) -->
                 @if (eliminarFila) {
                    <button 
                      type="button"
                      class="btn btn-outline-danger btn-sm"
                      title="Eliminar"
                      (click)="actionDeleteEnrollment(row)">
                      <i class="fa-solid fa-trash"></i>
                    </button>
                 }
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
</div>

@if (rows.length === 0) {
  <div class="no-results">No se encontraron resultados</div>
}

<div class="d-flex justify-content-center justify-content-md-between mt-3">
  <div>
    <button
      class="btn-pagination"
      (click)="goToFirstPage()"
      [disabled]="currentPage === 1">
      <i class="fa-solid fa-backward-fast"></i>
    </button>
    <button
      class="btn-pagination"
      (click)="changePage(currentPage - 1)"
      [disabled]="currentPage <= 1">
      <i class="fa-solid fa-left-long"></i>
    </button>
    <span class="mx-4">{{ startIndex + 1 }}-{{ endIndex }} de {{ originalRows.length }}</span>
    <button
      class="btn-pagination"
      (click)="changePage(currentPage + 1)"
      [disabled]="currentPage * pageSize >= originalRows.length">
      <i class="fa-solid fa-right-long"></i>
    </button>
    <button
      class="btn-pagination"
      (click)="goToLastPage()"
      [disabled]="currentPage === totalPages">
      <i class="fa-solid fa-forward-fast"></i>
    </button>
  </div>
  <div class="d-flex me-4">
    <label class="me-2" for="itemsPage">Mostrar:</label>
    <select
      class="select-items"
      id="itemsPage"
      (change)="changePageSize($event)">
      @for (item of [5, 10, 20]; track $index) {
        <option [value]="item" [selected]="item === pageSize">
          {{ item }}
        </option>
      }
    </select>
  </div>
</div>
