<app-panel-header title="Alumnos del aula" />

<div class="container py-4">

  <div class="row mb-4">
    <div class="col-12 col-md-6">
      <app-searcher
          [(term)]="searchTerm"
          placeholder="Buscar por curso"
          field="title"
          (search)="onSearch()"
      ></app-searcher>
      </div>
  </div>

  <div class="col-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="card-title mb-0">Gestión de notas</h5>
        <div class="input-group" style="width: 250px;">
          <span class="input-group-text"><i class="fas fa-search"></i></span>
          <input
            [(ngModel)]="searchTerm"
            
            type="text"
            class="form-control"
            placeholder="Buscar…"
          /><!---(input)="applyFilter($event)"-->
        </div>
      </div>
      <div class="card-body p-3">
        <app-table
          #assignmentsTable
          [columns]="columnsAssignments"
          [originalRows]="rowsAssignments"
          [columnMappings]="columnMappingsAssignments"
          [pageSize]="10"
          [acciones]="true"
          [verFila]="true"
          [accionVer]="onVerNotas"
        />
      </div>
    </div>
  </div>
</div>


