.line-auth {
    background-color: #00B982;
    height: 7px;
    width: 80%;
    border-radius: 2rem;
}

@media (min-width: 1200px) {
  .w-responsive {
    width: 50% !important;
  }
}
.side-green{
    min-height: 17rem;
}