<div class="container container-card">
    <div class="row green rounded-4">
        <!-- Lado verde -->
        <div class="col-12 col-md-6 rounded-start-4 px-4 py-5 text-light d-none d-md-block">
            <div class="logo-geunica" style="width: 120px;"></div>
            <div class="row side-green d-flex align-items-center justify-content-center">
                <h3>La nueva experiencia digital de aprendizaje</h3>
                <div class="line-auth"></div>
                <p>Cercana, dinámica y flexible</p>
            </div>
        </div>

        <!-- Lado blanco -->
        <div class="col-12 col-md-6 bg-white rounded-4 px-4 py-5">
            <div class="py-3">
                <h2 class="mb-4 fs-4 text-blue">Ingresa tus datos para iniciar sesión</h2>
                <form [formGroup]="formLogin" (ngSubmit)="login()">
                    <div class="mb-3">
                        <label class="label text-blue fw-normal mb-2">Número de DNI:</label>
                        <input class="input form-control" name="dni" placeholder="Usuario" formControlName="user">
                    </div>
                    <div class="mb-3">
                        <label class="label text-blue fw-normal mb-2">Contraseña:</label>
                        <input type="password" class="input form-control" name="password" placeholder="Contraseña" formControlName="password">
                    </div>
                    <div class="my-3 d-flex flex-column flex-md-row justify-content-end align-items-center">
                        <a routerLink="/auth/recover/email" class="text-blue fw-medium" style="font-size: 14px;">Restablecer contraseña</a>
                    </div>
                    <button class="btn-custom-green-100" [disabled]="formLogin.invalid">Iniciar sesión</button>
                </form>
            </div>
        </div>
    </div>
</div>
