@import url(../public/css/fonts.css);
@import url(../public/css/colors.css);
@import url(../public/css/buttons.css);
@import url(../public/css/enrollment.css);
@import url(../public/css/svg.css);

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.ql-editor {
    min-height: 100px; /* Ajusta la altura según lo que necesites */
    max-height: 300px; /* Puedes también agregar un máximo si lo deseas */
    height: auto; /* Permite que la altura cambie automáticamente */
  }