@import url(../public/css/fonts.css);
@import url(../public/css/colors.css);
@import url(../public/css/buttons.css);
@import url(../public/css/inputs.css);
@import url(../public/css/labels-headers.css);
@import url(../public/css/modals.css);
@import url(../public/css/responsive.css);

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
